
<li class="nav-item">
    <a href="#" class="nav-link"><i class="fa fa-users nav-icon"></i>
	 <p>Beneficiarios
        <i class="right fas fa-angle-left"></i>
     </p>
     </a>
    <ul class="nav nav-treeview" style="font-size:14px;background-color: rgb(66, 76, 86);">
        <li class="nav-item" >
            
            <i class="far fa-circle fa-sm" style="margin-left: 0.8rem; margin-right: 0.2rem;"></i>
             <p>Padrón</p>
            </a>
        </li>

        <li class="nav-item ">
            
            <i class="far fa-circle fa-sm" style="margin-left: 0.8rem; margin-right: 0.2rem;"></i>
            <p>Ayudas</p>
            </a>
        </li>
    </ul>

</li>
